@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f7f7f7;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 80px 350px 350px;
}

textarea, input {
    resize: none;
    border: unset;
    outline: unset;
    padding: 10px;
}

h2 {
    align-self: center;
    justify-self: center;
}

.editor-container, .favorites-container {
    width: 90vw;
    min-height: 250px;
    position: relative;
    align-self: center;
    justify-self: center;
    box-shadow: 1px 2px 5px #00000040;
    border-radius: 3px;
    overflow: hidden;
}

.editor-container {
}

.favorites-container {
    
}

.editor-container #title {
    width: 100%;
    height: 43px;
    border-bottom: solid 1px #ddd;
}
.editor-container #body {
    width: 100%;
    height: 250px;
}

.editor-icons {
    position: absolute;
    right: 0px;
    display: flex;
}

.icon {
    color: #4a4a4a;
    width: 50px;
    height: 42px;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new, #save, #dowload, #delete, .note {
    transition: 200ms ease-in;
}

.editor-icons #save {
    background-color: #61da61;
}

.editor-icons #download {
    background-color: #61d2da;
}

.editor-icons #delete {
    background-color: #ff5353;
    display: none;
}

.editor-icons #new:hover {
    background-color: #cfcfcf;
}

.editor-icons #save:hover {
    background-color: #91ff91;
}

.editor-icons #download:hover {
    background-color: #9af8ff;
}

.editor-icons #delete:hover {
    background-color: #ff8b8b;
}

.nav {
    background-color: #fff;
    width: 100%;
    position: relative;
    display: flex;
    border-bottom: solid 1px #ddd;
}

.nav .search-container {
    height: 42px;
    padding-left: 5px;
    display: flex;
    position: absolute;
    right: 0;
    width: 180px;
    overflow: hidden;
    border-left: solid 1px #ddd;
}

.favorites-active {
    background-color: #ffee53;
}

.notes {
    background-color: #fff;
    height: 300px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.notes .note {
    background-color: #d8d8d8;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
}

.notes .note:hover {
    background-color: #f3f3f3;
    box-shadow: 0 0 5px #00000070;
}

.notes .note i {
    font-size: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.notes .note .note_title {
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}